<link href="./pages/Views/Display/Themes/Photon/photon-0.1.2-dist/css/photon.min.css" type="text/css" rel="stylesheet">
</link>
<link href="./pages/Views/Display/Themes/Photon/styles.css" type="text/css" rel="stylesheet">
</link>
<script src="./pages/Views/Display/Themes/Photon/scripts.js" type="text/javascript"></script>
<div ng-controller="ThumbnailViewController.Photon">
    <div class="toolbar toolbar-header width-100-percent">
        <span class="headerText">My Movie Manager</span>
        <span class="icon icon-cancel-squared window-button window-button-danger" style="position:absolute;right:0px;top:-2px;" ng-click="closeWindow()"></span>
        <span class="icon icon-plus-squared window-button" style="position:absolute;right:18px;top:-2px;" ng-click="maximizeWindow()"></span>
        <span class="icon icon-minus-squared window-button" style="position:absolute;right:36px;top:-2px" ng-click="minimizeWindow()"></span>
    </div>
    <div class="window-content window-border">
        <div class="pane-group">
            <div class="pane" style="background-color:#EFEAEA">
                <div class="toolbar toolbar-header" style="position:fixed;height:32px;width:66.6%;-webkit-app-region: no-drag;padding:4px;">
                    <div class="btn-group">
                        <input class="input-box btn hBorder" type="text" placeholder="Search for movies">

                        <select class="select-box btn hBorder">
                                <option>Title</option>
                                <option>Director</option>
                                <option>Cast</option>
                                <option>Plot</option>
                                <option>Year</option>
                                <option>Language</option>
                                <option>Country</option>
                            </select>
                    </div>

                    <div class="btn-group">
                        <select class="select-box hBorder" ng-options="genre for genre in Genres" ng-model="Genres[0]" style="width:120px">
                            </select>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="showAll()" ng-class='nowShowing == "All"? "active":""'>All</button>
                        <button class="btn btn-default" ng-click="showOnlyWatched()" ng-class='nowShowing == "Watched"? "active":""'>Watched</button>
                        <button class="btn btn-default" ng-click="showOnlyNotWatched()" ng-class='nowShowing == "NotWatched"? "active":""'>Not Watched</button>
                    </div>


                </div>
                <div style="height:30px;"></div>

                <div ng-init="loadLocations()" class="sortable thumb-view-panel grid" ng-click="selectMovie($event)" style="background-color:#EFEAEA">
                    <span ng-repeat="movie in filteredMovies" class="poster-thumb grid-item" ng-dblclick="openMovie($event,movie)" ng-class="movie.highlighted?'highlighted':''">
							<div class="movie-name-thumb" ng-click="selectMovie($event,movie)" >
								<span class="thumbnail tile">
								<img ng-src="{{movie.CoverSmall}}" class="img-thumb-movie"></img>
								</span>

                    <div class="text-movie-thumb">{{movie.Title[0]}}</div>
                </div>
                </span>
            </div>
        </div>
        <div class="pane-one-third">
            <div class="moviePosterDisplay" style="background-image: url('{{selectedMovie.CoverLarge}}');" ng-class="selectedMovie.showPoster? 'opac': 'translucent'">
            </div>
            <div>
                <div>
                    <div class="toolbar-actions" style="text-align:center;">
                        <div class="btn-group">
                            <button class="btn btn-default hand" ng-click="selectedMovie.showPoster=!selectedMovie.showPoster;" ng-class="selectedMovie.showPoster? 'active':''">
                                    <span class="icon icon-eye hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openMovie($event,selectedMovie)">
                                    <span class="icon icon-play hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openMovie($event,selectedMovie)">
                                    <span class="icon icon-video hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openFolder($event,selectedMovie.Location)">
                                    <span class="icon icon-folder hand"></span>
                                    <!--style="color:#FFAA00"-->
                                </button>
                            <button class="btn btn-default hand" ng-class="selectedMovie.Watched=='Yes'?'active':''" ng-click="toggleWatched(selectedMovie)">
                                    <span class="icon icon-check hand"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="fa fa-edit hand" style="font-size:14px;vertical-align:middle"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="icon icon-trash hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="toggleFavourite(selectedMovie)" ng-class="selectedMovie.Fav=='Yes'?'active':''">
                                    <span class="icon icon-heart-empty hand" ng-class="selectedMovie.Fav=='Yes'?'icon-heart':'icon-heart-empty'"></span>
                                    <!--style="color:crimson"-->
                                </button>
                            <button class="btn btn-default hand" ng-click="openImdb(selectedMovie)">
                                    <span class="icon socicon-imdb hand" style="font-size:22px;position:relative;left:-5px;top:-5px;"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="icon icon-resize-full hand"></span>
                                </button>
                        </div>
                    </div>
                    <div ng-show="!selectedMovie.showPoster">
                        <div style="text-align:center;font-size:24px;font-weight:bold"> {{selectedMovie.Title[0]}}</div>
                        <div style="text-align:center;font-size:15px;font-weight:bold">{{selectedMovie.Year[0]}}</div>
                        <br/>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><span class="fa fa-quote-left super-script"></span>{{selectedMovie.Plot[0]}}<span class="fa fa-quote-right super-script"></span></div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Directed by: </b>{{selectedMovie.Directors[0]}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Runtime: </b>{{selectedMovie.Duration[0]}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Languages: </b>{{selectedMovie.Languages[0]}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Countries: </b>{{selectedMovie.Country[0]}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Genres: </b><span ng-repeat="genre in selectedMovie.Genres[0].value">{{genre}}<span ng-if="!$last">,</span></span>
                        </div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Cast: </b>{{selectedMovie.Cast[0]}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>