<link href="./pages/Views/Display/Themes/Photon/photon-0.1.2-dist/css/photon.min.css" type="text/css" rel="stylesheet">
</link>
<link href="./pages/Views/Display/Themes/Photon/styles.css" type="text/css" rel="stylesheet">
</link>
<div ng-controller="HomeController.Photon">
    <div class="window-content window-border">
        <div class="pane-group">
            <div class="pane" style="background-color:#EFEAEA">
                <div class="toolbar toolbar-header" style="position:fixed;height:32px;width:66.6%;-webkit-app-region: no-drag;padding:4px;">
                    <div class="btn-group">
                        <input class="input-box btn hBorder" type="text" placeholder="Search for movies">

                        <select class="select-box btn hBorder">
                                <option>Title</option>
                                <option>Director</option>
                                <option>Cast</option>
                                <option>Plot</option>
                                <option>Year</option>
                                <option>Language</option>
                                <option>Country</option>
                            </select>
                    </div>

                    <div class="btn-group">
                        <select class="select-box hBorder" ng-options="genre for genre in Genres" ng-model="SelectedGenre" style="width:120px">
                            </select>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="DisplayWatched('All')" ng-class='NowShowing == "All"? "active":""'>All</button>
                        <button class="btn btn-default" ng-click="DisplayWatched('Watched')" ng-class='NowShowing == "Watched"? "active":""'>Watched</button>
                        <button class="btn btn-default" ng-click="DisplayWatched('NotWatched')" ng-class='NowShowing == "NotWatched"? "active":""'>Not Watched</button>
                    </div>


                </div>
                <div style="height:30px;"></div>

                <div class="thumb-view-panel grid" ng-click="SelectMovie($event)" style="background-color:#EFEAEA">
                    <span ng-repeat="movie in DisplayedMedia" class="poster-thumb grid-item" ng-dblclick="OpenMovie($event,movie)" ng-class="movie.highlighted?'highlighted':''">
							<div class="movie-name-thumb" ng-click="SelectMovie($event,movie)" >
								<span class="thumbnail tile">
								<img ng-src="{{movie.postersmall?'file://'+ movie.$$Folder.Path + '/' + movie.postersmall: './images/defaultFolderSmall.jpg'}}" class="img-thumb-movie"></img>
								</span>

                    <div class="text-movie-thumb">{{movie.Title[0]}}</div>
                </div>
                </span>
            </div>
        </div>
        <div class="pane-one-third">
            <div class="moviePosterDisplay" style="background-image: url('{{SelectedMovie.poster}}');" ng-class="SelectedMovie.$$ShowPoster? 'opac': 'translucent'">
            </div>
            <div>
                <div>
                    <div class="toolbar-actions" style="text-align:center;">
                        <div class="btn-group">
                            <button class="btn btn-default hand" ng-click="SelectedMovie.$$ShowPoster=!SelectedMovie.$$ShowPoster;" ng-class="SelectedMovie.$$ShowPoster? 'active':''">
                                    <span class="icon icon-eye hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openMovie($event,SelectedMovie)">
                                    <span class="icon icon-play hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openMovie($event,SelectedMovie)">
                                    <span class="icon icon-video hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="openFolder($event,SelectedMovie.metadata.$$Folder)">
                                    <span class="icon icon-folder hand"></span>
                                    <!--style="color:#FFAA00"-->
                                </button>
                            <button class="btn btn-default hand" ng-class="SelectedMovie.iswatched?'active':''" ng-click="ToggleWatched(SelectedMovie)">
                                    <span class="icon icon-check hand"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="fa fa-edit hand" style="font-size:14px;vertical-align:middle"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="icon icon-trash hand"></span>
                                </button>
                            <button class="btn btn-default hand" ng-click="ToggleFavourite(SelectedMovie)" ng-class="SelectedMovie.favourite?'active':''">
                                    <span class="icon icon-heart-empty hand" ng-class="SelectedMovie.favourite=='Yes'?'icon-heart':'icon-heart-empty'"></span>
                                    <!--style="color:crimson"-->
                                </button>
                            <button class="btn btn-default hand" ng-click="OpenImdb(SelectedMovie)">
                                    <span class="icon socicon-imdb hand" style="font-size:22px;position:relative;left:-5px;top:-5px;"></span>
                                </button>
                            <button class="btn btn-default hand">
                                    <span class="icon icon-resize-full hand"></span>
                                </button>
                        </div>
                    </div>
                    <div ng-show="!SelectedMovie.$$ShowPoster">
                        <div style="text-align:center;font-size:24px;font-weight:bold"> {{SelectedMovie.metadata.title}}</div>
                        <div style="text-align:center;font-size:15px;font-weight:bold">{{SelectedMovie.metadata.year}}</div>
                        <br/>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><span class="fa fa-quote-left super-script"></span>{{SelectedMovie.metadata.synopsis}}<span class="fa fa-quote-right super-script"></span></div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Directed by: </b>{{SelectedMovie.metadata.directors | displayDictionary}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Runtime: </b>{{SelectedMovie.metadata.duration}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Languages: </b>{{SelectedMovie.metadata.languages| displayDictionary}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Countries: </b>{{SelectedMovie.metadata.country}}</div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Genres: </b>{{SelectedMovie.metadata.genres | displayDictionary}} </div>
                        <div style="text-align:justify;font-size:14px;font-weight:normal;margin:8px;"><b>Cast: </b>{{SelectedMovie.metadata.cast | displayDictionary}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>