.circle-tool-container{
    position: absolute;
    bottom:10px;
    right:0px;
}
.circle-tool{
    position: absolute;
    bottom:0px;
    right:10px;
    width:30px;
    height: 30px;
    box-shadow: 2px 2px 5px #333333; 
    border-radius:50%;
    cursor: pointer;
    background-color: #007ACC;
    vertical-align: middle;
    text-align: center;
    -webkit-transition:all 0.2s linear;
    padding: 0 !important;
    color:white;
    visibility: hidden;
    -webkit-user-select: none;
}
.circle-tool span{
    position: relative;
    top:7px;
    left: 1px;
}
.circle-tool:active{
    box-shadow: 4px 4px 5px #333333; 
}

.circle-tool-container .circle-tool:last-of-type{
    visibility: visible;
}

.circle-tool-container:hover .circle-tool1{
    bottom:0px;
    visibility: visible;
}

.circle-tool-container:hover .circle-tool2{
    bottom:35px;
    visibility: visible;
}
.circle-tool-container:hover .circle-tool3{
    bottom:70px;
    visibility: visible;
}

.circle-tool-container:hover .circle-tool4{
    bottom:105px;
    visibility: visible;
}